.photosContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  column-gap: 15px;
  row-gap: 15px;
  padding-left: 0;
  list-style: none;
}
